.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 70vh;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.mainTitle{
    width: 30%;
    padding-bottom: 1%;
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 2% 0 2% 0;
}

.productsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 5% 2% 5%;
    width: 60vw;
    height: 100%;
}

.productsDisplay{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70vw;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 20vw;
    height: 25vh;
    margin-bottom: 5%;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.mainImage{
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    position: relative;
}

.imageDecoration{
    position: absolute;
    width: 95%;
    height: 95%;
    border: 1px solid white;
    border-radius: 5px;
}

.decorationLogo{
    width: 2.5vw;
    position: absolute;
    border: black;
    bottom: 2px;
    left: 2px;
}

.product:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px #808080;
    transition: .5s;
}

.pageButtons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.buttonContainer{
    position: absolute;
    display: flex;
    bottom: 2%;
    align-items: center;
    justify-content: center;
}

.productButton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 35px;
    padding: 0 5px 0 5px;
    color: #fc8f00;
    border: 2px solid #fc8f00;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.productButton:hover {
    color: white;
    background-color: #fc8f00;
}

.productContainerBackground{
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 1000;
    position: absolute;
}

.productContainer{
    display: flex;
    width: 95vw;
    height: 95vh;
    background-color: white;
    position: absolute;
    z-index: 1001;
    top: 2.5%;
    left: 2.5%;   
    border-radius: 5px;
    box-shadow: 5px 5px 20px #808080;
    background-image: url('https://img.freepik.com/fotos-premium/textura-de-fundo-de-parede-de-prancha-de-madeira-branca-de-madeira-de-casca-com-padrao-natural-antigo_38607-1200.jpg');
}

.showProductCloseButtonIcon{
    font-size: 20px;
    position: absolute;
    right: 1%;
    top: 1.5%;
    transition: .3s;
}

.showProductCloseButtonIcon:hover{
    cursor: pointer;
    color: red;
    transition: .3s;
}

@media ( max-width: 900px ) {
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100vw;
        min-height: 85vh;
        height: auto;
        overflow-x: scroll;
    }

    .mainTitle{
        width: 80%;
        padding-bottom: 1%;
        border-bottom: 1px solid grey;
        text-align: center;
        margin: 5% 0 5% 0;
    }

    .productsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 100%;
        padding: 0;
        border-top: 0;
        margin: 0;
    }

    .productsDisplay{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 35vw;
        height: 10vh;
        margin-bottom: 5%;
        transition: .5s;
        overflow: hidden;
    }
    
    .mainImage{
        margin-bottom: 10px;
        width: 150%;
        height: auto;
        align-self: center;
    }

    .imageDecoration{
        position: absolute;
        width: 95%;
        height: 95%;
        border: 1px solid white;
        border-radius: 5px;
    }
    
    .decorationLogo{
        width: 10vw;
        position: absolute;
        border: black;
        bottom: 2px;
        left: 2px;
    }
}