.carouselContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    background-color: transparent;
    position: relative;
}

.carouselStyle{
    height: auto;
    width: 100%;
    position: relative;
}

.carouselImageDiv{
    width: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImage{
    width: 100%;
    height: 85vh;
    position: absolute;
}

.carouselArrowPrev, .carouselArrowNext{
    font-size: 30px;
    background: none;
    border: none;
    top: 45%;
}

.carouselArrowPrev:disabled, .carouselArrowNext:disabled{
    display: none;
}

.carouselArrowPrev:hover, .carouselArrowNext:hover{
    cursor: pointer;
}

@media ( max-width: 900px ) {
    .carouselContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        width: 100vw;
        background-color: transparent;
    } 

    .carouselContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100vw;
    }
    .carouselStyle{
        height: auto;
        width: 100%;
    }

    .carouselImageDiv{
        width: 100%;
        height: 30vh;
    }
    
    .carouselImage{
        width: 100%;
        height: 30vh;
    }
}