.classContainer{
    width: 100vw;
    height: 9vh;
    background-color: #F9F6F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0 0 0;
    position: sticky;
    z-index: 999;
    top: 0;
}

.imageLogo:hover{
    cursor: pointer;
}

.options{
    width: 100vw;
    height: 4vh;
    background-color: #F9F6F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fc8f00;
}

.options p{
    font-size: 20px;
    font-weight: 300;
    padding: 0 15px 0 15px;
    color: grey;
    transition: .3s;
    margin-bottom: 1%;
}

.options p:hover{
    cursor: pointer;
    color: #fc8f00;
    transition: color .3s ease-in-out;
}

.headerIcons, .dropdownIcon{
    color: grey;
    transition: .3s;
    margin: 0;
}

.headerIcons:hover, .dropdownIcon:hover{
    cursor: pointer;
    color: #fc8f00;
    transition: color .3s ease-in-out;
}

.dropdownContainer{
    position: relative;
    width: auto;
    height: auto;
}

.dropdown{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: #F9F6F2;
    width: 110px;
    height: 15vh;
    padding: 20%;
    box-shadow: 5px 5px 20px #808080;
    border-radius: 5px;
    color: grey;
    left: -350%;
}

.dropdownIcon:hover + .dropdown{
    display: flex;
}

.dropdown:hover{
    display: flex;
}

.dropdown a, .dropdown p{
    color: grey;
    margin: 2.5px 0 2.5px 5px;
    transition: color .3s ease-in-out;
}

.dropdown a, .dropdown p:hover{
    cursor: pointer;
    color: #fc8f00;
    transition: color .3s ease-in-out;
}

@media ( max-width: 900px ) {
    .classContainer{
        box-shadow: 3px 3px 10px #808080;
    }

    .options {
        display: none;
    }

    .headerIcons, .dropdownIcon{
        font-size: 18px;
        color: grey;
        transition: .3s;
        margin: 0;
    }
    
    .headerIcons:active, .dropdownIcon:active{
        cursor: pointer;
        color: #fc8f00;
        transition: color .3s ease-in-out;
    }

    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        background-color: #F9F6F2;
        box-shadow: none;
        width: 50vw;
        height: 100vh;
        padding: 20%;
        border-radius: 0;
        color: black;
        right: 0;
        padding-top: 10%;
        box-shadow: 5px 5px 5px #808080;
        transition: .5s;
        z-index: 1000;
    }

    .dropdown p{
        width: 50%;
        margin-top: 20%;
        text-align: left;
    }
}