.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    overflow: hidden;
}

.mainTitle{
    width: 30%;
    padding-bottom: 1%;
    border-bottom: 1px solid grey;
    text-align: center;
    margin-bottom: 3%;
}

.productsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: auto;
    margin-top: 2%;
    padding: 3px;
}

.productsRow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 0 3% 0;
    padding: 3px;
}

.productDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    padding: 3px;
}

.productImage{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 65vh;
}

.imageCarousel{
    width: 25vw;
    max-height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 5px 10px #808080;
}

.imageDecoration{
    position: absolute;
    width: 95%;
    height: 68vh;
    border: 1px solid white;
    border-radius: 5px;
    bottom: -2.5%;
}

.decorationTitle{
    position: absolute;
    top: 2px;
    left: 5px;
    color: white;
    font-size: 1.2vw;
    text-shadow: 1px 1px 1px black;
}

.decorationLogo{
    width: 2.5vw;
    position: absolute;
    border: black;
    bottom: 2px;
    left: 2px;
}

.productInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.productButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    padding: 0 5px 0 5px;
    color: #fc8f00;
    border: 2px solid #fc8f00;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.productButton:hover {
    color: white;
    background-color: #fc8f00;
}

@media (max-width: 900px)  {
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 3% 0 3% 0;
    }
    
    .mainTitle{
        width: 80%;
        padding-bottom: 1%;
        border-bottom: 1px solid grey;
        text-align: center;
        margin-bottom: 0;
    }

    .mainContainer h1{
        margin: 0;
    }
    
    .productsContainer{
        display: flex;
        justify-content: space-around;
        width: auto;
        height: auto;
        margin-top: 3%;
        padding: 3px;
    }

    .productDiv{
        flex-direction: column;
        height: auto;
        margin-top: 30px;
        width: 85%;
        height: 40vh;
        padding: 0;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #808080;
    }

    .productImage{
        height: 40vh;
        width: 100%;
        overflow: inherit;
        border-radius: 5px;
    }

    .imageDecoration{
        position: absolute;
        width: 95%;
        height: 38vh;
        border: 1px solid white;
        border-radius: 5px;
        bottom: 2.3%;

    }
    
    .decorationTitle{
        position: absolute;
        top: 2px;
        left: 5px;
        color: white;
        font-size: 5vw;
        font-weight: 300;
        text-shadow: 1px 1px 1px black;
    }
    
    .decorationLogo{
        width: 10vw;
        position: absolute;
        border: black;
        bottom: 2px;
        left: 2px;
    }

    .imageCarousel{
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .productDiv h2{
        align-self: flex-start;
        margin-left: 3%;
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
    }

    .productButton{
        width: 95%;
        margin-bottom: 30px;
    }

    .productButton:active {
        color: white;
        background-color: #fc8f00;
    }
}