.classContainer{
    width: 100vw;
    height: 20vh;
    background-color: #F9F6F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0 0 0;
    border-top: 1px solid #fc8f00;
    bottom: 100%;
}