.mainContainer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainTitle{
    width: 30%;
    padding-bottom: 1%;
    border-bottom: 1px solid grey;
    text-align: center;
    margin: 2% 0 2% 0;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 55%;
    background-color: #f5f5f5;
    top: 28%;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #808080;
    border-bottom: 2%;
}

.aboutinfoContainer{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.allContacts{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: flex-start;
    margin-top: 5%;
}

.mapContainer{
    width: 90%;
    height: 60%;
}

.linkButton{
    color: #fc8f00;
    cursor: pointer;
    transition: .3s;
}

.linkButton:hover{
    cursor: pointer;
    transition: .3s;
}

@media ( max-width: 900px ) {
    .mainContainer{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .mainTitle{
        width: 80%;
        padding-bottom: 1%;
        border-bottom: 1px solid grey;
        text-align: center;
        margin: 5% 0 5% 0;
    }

    .aboutContainer{
        width: 95%;
        height: 85%;
    }

    .aboutinfoContainer{
        flex-direction: column;
        height: 50%;
    }

    .allContacts{
        width: 100%;
        margin-top: 0;
    }

    .mapContainer{
        width: 90%;
        height: 45%;
        overflow: hidden;
    }

    .allContacts p{
        text-align: justify;
    }
}